:root {
    --main-dark-color: #333333;
    --main-white-color: #EEEEDD;
    
    --main-bg-color: #ECF0F1;
    --main-bg2-color: #EEEEEE;
}


*, body {
    
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI";
}    

body {
    background: var(--main-bg-color);   
    width: 100%;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}

/* Loading screen template */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: 50% 50% no-repeat var(--main-bg-color);
  }
/* General settings */

.title {
    font-family: "Roboto Condensed", "Segoi UI";
    text-align: center;
    color: var(--main-dark-color);
    font-size: 2.5em;
    padding: 30px;

    text-shadow:
        0 1px 0px #555,
        1px 0 0px #555,
        1px 1px 0px #555;
}

#about, #projects {
    background: var(--main-bg-color);
}

#exp {
    background: #fff;
}

#exp, #projects {
    margin: 0 auto; 
    text-align: center;
    padding: 150px 0px 150px 0px;
}

 /* Main text */

 .head {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    
    transition: ease-in-out .3s;
}

.head:hover {
    transition: ease-in-out .3s;
}

.centertext {   
    width: 100%;
    text-align: center; 
    margin-top: 15%;
    position: absolute;     
    color: var(--main-bg-color);;
    z-index: 10;
}

.centertext h1 {
    font-size: 3em;
    border-bottom: 1px solid var(--main-white-color);
    width: 40%; 
    margin: 0 auto;
    padding: 60px 0px 0px 0px;
}

.centertext h2 {
    font-size: 1em;
    padding: 0.5em;
}

/* About */

#about {    
    padding: 400px 0px 600px 0px;
    margin: 0 auto; 
    text-align: center;
}

#about .aboutleft {
    float: left;
    width: 40%;
    text-align: right;
} 

#about .aboutleft .avatar {
    position: relative;
    right: 0%;
    top: 0%;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    text-align: center;
    margin: 20px;   
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
    z-index: 9;
}

#about .aboutright {
    float: right;
    width: 50%;
    text-align: left;
    color: #111;
}

#about .aboutright h1 {
    font-size: 1em;

    padding-left: 7%;
}

#about .aboutright p {
    width: 50%;
    padding: 5px;
}

/* Buttons */

.social {
    padding: 10px 0px 10px 0px;
}

.social a:hover, .contact a:hover, a.steam:hover {
    color: #fff;
    opacity: 0.7;
}

.social a.github:hover {
    color: #000;
}

.social .mail, .twitter, .github, .steam, .lastfm {  
    padding: 6px 12px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    display:inline-block;
}

.social .mail {
    background: #d54b3d;
}

.social .twitter {
    background: #5bc0de;
}

.social .github {
    background: #eaeaea;
    color: #000;
    border: 1px solid #aaa;
}

.social .steam {
    background: var(--main-dark-color);
    color: #fff;
    border: 1px solid #aaa;
}

.social .lastfm {
    background: #e4141e;
}

/* Experience */

#exp .work {
    text-align: left;
    width: 45%;
    margin: 0 auto;
    padding: 15px;
}

#exp h3 {
    font-style: italic;
}

#exp h3, h4, .work p {
    padding: 10px;
}

/* Projects */

.projectcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    
    width: 60%;
    margin: 0 auto;
}

.projectcontainer .element {
    position: relative;
    max-height: 240px;
    max-width: 426px;
    overflow:hidden;

    margin: 1px;
}

.projectcontainer .element .image {
    height: 100%;
    width: 100%;
}

/* Overlay */

.overlay {
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: var(--main-white-color);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    cursor: pointer;
}

.element:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.element:hover .image {
    /*filter: blur(2px); */
}

.overlayinfo {
    transition: .2s;
    transform: translateY(1em);

    padding-top: 25%;
    font-size: 1em;
}

.element:hover .overlayinfo {
    transform: translateY(0);
}

/* Modal Stuff */

.modal {
    display:none;

    max-width: 600px;
    width: 100%;
    background: #fff;
    padding: 30px;
    border-radius: 0px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.2);
    text-align: left;
}

.modal h1 {
    font-family: "Open Sans", cursive;
    font-style: italic;
    font-weight: 100;
    font-size: 30px;
    padding: 20px;
}

.modal p.description {
    margin: 20px;
    padding: 10px;
    border-left: 2px solid #aaa;
}

.modal p.links {
    text-align:center;

    margin: 10px;
}

.modal img {
    width: 100%;
}

.modal a.close-modal {
    /*display: none;*/
    top: 20px;
    right: 20px;
}

.modal a.close-modal:hover {
    opacity: 0.7;
}


/* Footer */

.divider {
    border: none;
    border-bottom: 1px solid #222;
    width: 70%;
    margin: 30px auto;
    height: 1px;
}

footer {
    margin: 0 auto;
    background: #333333;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}   

footer span {
    color: var(--main-white-color);
    font-size: 16px;
    margin: 50px;
}

/* media queries */

/* portrait */
@media only screen and (max-width: 1200px) {

    #about .aboutleft, #about .aboutright {
        font-size: 14px;
        text-align: center;
    }   

    #about .aboutright p {
        width: 80%;
        margin: 0 auto;
    }
    #about .aboutleft {
        text-align: right;
    }   
    
    #about {
        padding: 300px 0px 500px 0px;
    }

    #exp .work {
        width: 90%;
    }   

    .projectcontainer {
        width:100%;
    }

    .element .image {
        min-width: 100% !important;
    }

    footer span {
        font-size: 0.75em;
        margin:0;
    }
}

/* mobile */
@media only screen and (max-width: 600px) {

    /* About */
    #about .aboutleft, #about .aboutright {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }   

    #about .aboutleft {
        height: 250px;
        margin: 0 auto; 
        text-align: right;  
    }
    #about .aboutleft .avatar {
        margin-right: 24%;
    }
    #about {
        padding: 300px 0px 750px 0px;
    }
    .centertext h1 {
        font-size: 35px;
        width: 80%;
        margin: 0 auto; 
        padding: 100px 0px 0px 0px;
    }
    .centertext h2 {
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        padding: 50px 0px 100px 0px;
    }

    .projectcontainer {
        width:100%;
    }

    .element .image, .element {
        width: 100% !important;
    }
}


body, a, a:hover, img, img:hover{
    transition: ease-in-out .3s;
}
