:root {
    --main-dark-color: #333333;
    --main-white-color: #EEEEDD;
    
    --main-bg-color: #ECF0F1;
    --main-bg2-color: #EEEEEE;
}


*, body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Segoe UI";
}    

body {
    background: var(--main-bg-color);   
    width: 100%;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}

/* Loading screen template */

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: 50% 50% no-repeat var(--main-bg-color);
  }
/* General settings */

.title {
    font-family: "Roboto Condensed", "Segoi UI";
    text-align: center;
    color: var(--main-dark-color);
    font-size: 2.5em;
    padding: 30px;

    text-shadow:
        0 1px 0px #555,
        1px 0 0px #555,
        1px 1px 0px #555;
}

#about, #projects {
    background: var(--main-bg-color);
}

#exp {
    background: #fff;
}

#exp, #projects {
    margin: 0 auto; 
    text-align: center;
    padding: 150px 0px 150px 0px;
}

 /* Main text */

 .head {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
    position: fixed;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    
    transition: ease-in-out .3s;
}

.head:hover {
    transition: ease-in-out .3s;
}

.centertext {   
    width: 100%;
    text-align: center; 
    margin-top: 15%;
    position: absolute;     
    color: var(--main-bg-color);;
    z-index: 10;
}

.centertext h1 {
    font-size: 3em;
    border-bottom: 1px solid var(--main-white-color);
    width: 40%; 
    margin: 0 auto;
    padding: 60px 0px 0px 0px;
}

.centertext h2 {
    font-size: 1em;
    padding: 0.5em;
}

/* About */

#about {    
    padding: 400px 0px 600px 0px;
    margin: 0 auto; 
    text-align: center;
}

#about .aboutleft {
    float: left;
    width: 40%;
    text-align: right;
} 

#about .aboutleft .avatar {
    position: relative;
    right: 0%;
    top: 0%;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    text-align: center;
    margin: 20px;   
    box-shadow: 3px 3px 4px rgba(0,0,0,0.3);
    z-index: 9;
}

#about .aboutright {
    float: right;
    width: 50%;
    text-align: left;
    color: #111;
}

#about .aboutright h1 {
    font-size: 1em;

    padding-left: 7%;
}

#about .aboutright p {
    width: 50%;
    padding: 5px;
}

/* Buttons */

.social {
    padding: 10px 0px 10px 0px;
}

.social a:hover, .contact a:hover, a.steam:hover {
    color: #fff;
    opacity: 0.7;
}

.social a.github:hover {
    color: #000;
}

.social .mail, .twitter, .github, .steam, .lastfm {  
    padding: 6px 12px;
    /*font-size: 14px;*/
    /*font-weight: 600;*/
    text-align: center;
    color: #fff;
    border-radius: 4px;
}

.social .mail {
    background: #d54b3d;
}

.social .twitter {
    background: #5bc0de;
}

.social .github {
    background: #eaeaea;
    color: #000;
    border: 1px solid #aaa;
}

.social .steam {
    background: var(--main-dark-color);
    color: #fff;
    border: 1px solid #aaa;
}

.social .lastfm {
    background: #e4141e;
}

/* Experience */

#exp .work {
    text-align: left;
    width: 45%;
    margin: 0 auto;
    padding: 15px;
}

#exp h3 {
    font-style: italic;
}

#exp h3, h4, .work p {
    padding: 10px;
}

/* Projects */

.projectcontainer {
    display: grid;
    grid-template-columns: auto auto auto;
    
    width: 80%;
    margin: 0 auto;
}

.projectcontainer .element {
    position: relative;
    max-height: 280px;
    margin: 1px;
}

.projectcontainer .element .image {
    height: 100%;
    width: 100%;
}

.projectcontainer .element .elementinfo {
    font-size: 16px;
}

/* Overlay */

.overlay {
    position: absolute;  
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6);
    color: var(--main-white-color);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.overlay h1 {
    margin-top: 3%;
}

.overlay .description {
    margin-top: 30%;
}

.overlay a {
    color: #fff;
}
overlay a:hover {
    color: #999;
}

.element:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.element:hover .image {
    /*filter: blur(2px); */
}

.elementinfo {
    cursor: pointer;
    transition: .2s;
    transform: translateY(1em);
}

.elementinfo p{
    font-size: 28px;
}

.element:hover .elementinfo {
    transform: translateY(0);
}


/* Footer */

.divider {
    border: none;
    border-bottom: 1px solid #222;
    width: 70%;
    margin: 30px auto;
    height: 1px;
}

footer {
    margin: 0 auto;
    background: #333333;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 10px 0px 10px 0px;
}   

footer span {
    color: var(--main-white-color);
    font-size: 16px;
    margin: 50px;
}



body, a, a:hover, img, img:hover{
    transition: ease-in-out .3s;
}
