@font-face {
	font-family: 'proggy';
	src: url('resources/ProggySmall.ttf');
}

* {
	outline: none;
}

html {
	background: url('resources/bg2.jpg') no-repeat center center fixed;
	background-size: cover;
}

#main {
	font-family: 'proggy'; font-size: 16px;
	margin-left: 2%; margin-top: 2%;
	width: 200px; height: 800px;
}

.title {
	font-size: 16px;
	margin-top: 3%; margin-bottom: 3%;
}

a {
	font-size: 15px;
	text-decoration: none;
	color: black;
	transition: .2s;
}

a:hover {
	color: rgb(127,127,127);
}

li {
	padding-left: 9px;
	border-left: 2px solid rgba(40,40,40,0.4);
	transition: .2s;
	line-height: 14px;
}

li:hover {
	border-left: 8px solid rgba(40,40,40,0.4);
}

ul {
	padding-top: 12px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 12px;
}