#bubblechart {  
    width: 40%;
    height: 55%;
    float: left; 
    background: var(--main-bg-color); 
}

#bubblechart #back-icon {
    position: absolute;
    top: 10%;
    left: 2%;
    width: 48px;
    display: none;
    margin: auto;
}

#bubblechart .label {
    fill: var(--main-dark-color) !important;
    font-size: 12px;
    text-anchor: middle;
    font-weight: bold;
    pointer-events: none;
    white-space: pre-wrap;
}